<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group col-sm-2 col-sm-offset-9">
				<label>Start time</label>
				<input type="text" class="form-control" ng-model="agenda.startTime">
			</div>
			<table class="table">
				<thead>
					<tr>
						<th class="col-sm-5">Title</th>
						<th class="col-sm-2">Name</th>
						<th class="col-sm-2">Surname</th>
						<th class="col-sm-2">Time</th>
						<th class="col-sm-1"></th>
					</tr>
				</thead>
				<tbody dragula='"items-bag"' dragula-model='agenda.list'>
					<tr ng-repeat="item in agenda.list" ng-click="$last && addEmptyItem()">
						<td><input class="form-control" type="text" ng-model="item.title"></td>
						<td><input class="form-control" type="text" ng-model="item.name"></td>
						<td><input class="form-control" type="text" ng-model="item.surname"></td>
						<td><input class="form-control" type="text" ng-model="item.time"></td>
						<td>
							<div class="btn-group">
								<button ng-if="!$first" type="button" class="btn btn-danger btn-xs" ng-click="list.splice($index, 1)">
									<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
								</button>
								<button class="btn btn-primary btn-xs handle">H</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-primary" ng-click="addEmptyItem()">
				<i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add
			</button>
			<br />
		</div>
		<div class="col-sm-4">
			<h3>Agenda</h3>
			<div class="panel panel-default">
				<div class="panel-body">
					<span ng-repeat="item in agenda.myResult() track by $index">{{item}}<br /></span>
				</div>
			</div>
		</div>
	</div>
</div>
