<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group col-sm-2 col-sm-offset-9">
				<label>Start time</label>
				<input type="text" class="form-control" ng-model="agenda.startTime">
			</div>
			<table class="table">
				<tr>
					<td class="col-sm-5">Title</td>
					<td class="col-sm-2">Name</td>
					<td class="col-sm-2">Surname</td>
					<td class="col-sm-2">Time</td>
					<td class="col-sm-1"></td>
				</tr>
				<tbody dragula='"bag-one"' dragula-model="agenda.list" dragula-scope='$parent'>
					<tr ng-repeat="item in agenda.list" ng-click="$last && addEmptyItem()">
						<td><input class="form-control" type="text" ng-model="item.title"></td>
						<td><input class="form-control" type="text" ng-model="item.name"></td>
						<td><input class="form-control" type="text" ng-model="item.surname"></td>
						<td><input class="form-control" type="text" ng-model="item.time"></td>
						<td><button ng-if="!$first" type="button" class="btn btn-danger btn-xs" ng-click="agenda.list.splice($index, 1)">-</button></td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-primary" ng-click="addEmptyItem()">Add</button><br />
		</div>
		<div class="col-sm-4">
			<h3>Agenda</h3>
			<div class="panel panel-default">
				<div class="panel-body">
					<span ng-repeat="item in agenda.myResult() track by $index">{{item}}<br /></span>
				</div>
			</div>
		</div>
	</div>
</div>